{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Cписок пользователей</h1>
            <div class="userslist">
                {% if request.user.is_authenticated %}
                    {% for user in form %}
                        <li class="user">{{ user }}</li>
                    {% endfor %}
                {% else %}
                    <p>Войдите, чтобы посмотреть список пользователей</p>
                {% endif %}
            </div>
    </div>
{% endblock %}