{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-warning" id ="navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto">
                  {% if request.user.is_authenticated %}
                    <a class="nav-link" href="#">{{ request.user }}</a>
                    <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    <a class="nav-link" href="{% url 'signup' %}">Зарегистрироваться</a>
              </div>
            </div>
          </div>
        {% endif %}
    </nav>

    <aside>
        <img src="{% static 'main/img/logo_simple.png' %}" alt="Лого">
        <span class="logo"> MyProject </span>
        <h3>Навигация</h3>
        <ul>
            <a id = "link1" href="{% url 'home' %}"><li><i class="fa-solid fa-house-user"></i>Главная</li></a>
            <a id = "link2" href="{% url 'about' %}"><li><i class="fa-solid fa-address-card"></i>Про нас</li></a>
            <a id = "link3" href="{% url 'news_home' %}"><li><i class="fa-solid fa-newspaper"></i>Новости</li></a>
            <a id = "link4" href="{% url 'contacts' %}"><li><i class="fa-solid fa-address-book"></i>Контакты</li></a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fa-solid fa-circle-plus"></i>Добавить запись</button></li></a>
            {% endif %}
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>